
/*GERAL*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #50a2d1;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

/*NAVBAR*/

.logo {
    width: 35px;
}

.navbar__title {
    font-size: 30px;
}

.nav__primary {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    z-index: 99999999;
    background-color: #23919B;
}

.nav > li > a {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}

.nav > li > a:hover {
    color:rgba(0, 0, 0, 0.329);
}


.nav > li > a:hover{
    color:rgba(0, 0, 0, 0.329);
}


.hamb {
    position: absolute;
    background-color: #23919B;
    top: 67px;
    padding: 0 20px;
    width: 140px;
    right: .5px;
} 

.hamb a{
    color: white;
}

/*HEADER*/

.text__banner{
    font-size: 42px;
    font-weight: 600;
    width: 400px;
}

.text__banner-manutencao, .text__banner-instalacao{
    color: #074582;
    font-size: 42px;
    font-weight: 600;
    width: 750px;
}

.banner__home {
    background-image: url("../img/banner1b-01.png");
    background-size: cover;
    min-height: 70vh;
}

.btn {
    box-shadow: 1px 1px #86c5d4;
    border: 2px solid #f6f7fc;
    background-color: #ffffff;
    border-radius: 4px;
    color: #074582;
    font-weight: bold;
    font-size: 20px;
 }

 .btn__banner:hover {
     background-color: rgb(226, 237, 238);
 }


/*CAROUSEL*/

.carousel {
    height: 15vh;
    /* margin-bottom: 2%; */
    justify-content: center;
    margin-bottom: 2%;

}

.carousel__titulo{
    color: #074582;
    text-align: center;
}

.row {
    margin-top: 2%;

    justify-content: space-around;
}

.section__title {
    color: #074582;
    font-weight: 700;
}

/*CARDS*/

.cards hr {
    height: 2px;
    background:#074582;
    width: 80px;
    margin-left: 0;
}

.cards {
    padding-top: 60px;
    margin-bottom: 2%;
}

.card-body {
    border: 2px solid #074582;
    min-height: 350px;
}

.card-title {
    color: #074582;
    font-size: 28px;
    font-weight: 700;
}

.card-text {
    color: #6A6E6E;
    font-size: 16px;
}

.btn-outline-info {
    width: 50%;
    font-size: 18px;
}

/*ABOUT*/

.about {
    padding-top: 70px;
    padding-bottom: 70px;

    font-size: 17px;
    background-color: rgba(230, 232, 246, 0.897);
}


.about__imagem img {
    -webkit-box-shadow: -18px -18px 0px 2px rgba(35,145,155,1);
    -moz-box-shadow: -18px -18px 0px 2px rgba(35,145,155,1);
    box-shadow: -18px -18px 0px 2px rgba(35,145,155,1);
} 

.about__imagem {
    margin-top: 5%;
    margin-bottom: 3%;
    align-items: center;
} 

h2 {
    margin-top: 3%;
    color: #074582;
    font-weight: 700;
}

.about hr {
    height: 2px;
    background:#074582;
    width: 80px;
    margin-left: 0;
}

.img-about {
    width: 100%;
    height: auto;
}


/*CONTATO*/

.contato{
    background-color: #50a2d1;
}

.contato h3{
    font-size: 20px;
    font-weight: 700;
    color: #F6F7FC;
}

.contato__input{
    width: 520px;
    height: 50px;
    border-radius: 5px;
    font-weight: 900;
    color: #6A6E6E;
    padding-top: 8px;
}

.contato__btn{
    color: #074582;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #f6f7fc;
    background-color: #ffffff;
    padding: 8px;
}

/*FOOTER*/

.footer{
    background-color: #23919B99;
    color: #F6F7FC;
    /* border: 1px solid #707070; */
}

hr {
    height: 2px;
    background: #F6F7FC;
    width: 80px;
    margin-left: 449px;
}


.footer__email{
    font-size: 22px;
    font-weight: 700;
}

.footer__p{
    font-size: 20px;
    font-weight: 400;
}

.footer__num{
    font-size: 20px;
    font-weight: 700;
}

.copyright{
    color: #27508F;
}

.reprograma{
    color: #0764F3;
}

.footer__contato-mobile {
    display: none;
}

/* INSTALL */

.banner__install {
    background-image: url("../img/banner2.png");
    background-size: cover;
    min-height: 70vh;
    position: relative;
}

header{
    z-index: 9999;
}

.install hr {
    height: 2px;
    background:#074582;
    width: 80px;
    margin-left: 0;
}

.snowflakes {
    color: #fff;
    font-size: 4rem;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    height: 50vh;
    width: 77%;
    margin-top: 0;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position: absolute;top:-30%; z-index: -10; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:50%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:65%;-webkit-animation-delay:1s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:40%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:85%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:65%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:45%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:65%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:85%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.snow {
    font-size: 3rem;
}
/*INSTALL*/

/*MANUTENÇÃO*/

.banner__manutencao {
    background-image: url("../img/manutencao.png");
    background-size: cover;
    min-height: 70vh;
    position: relative;
}

header{
    z-index: 9999;
}

.manutencao hr {
    height: 2px;
    background:#074582;
    width: 80px;
    margin-left: 0;
}

.snowflakes {
    color: #fff;
    font-size: 4rem;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    height: 50vh;
    width: 77%;
    margin-top: 0;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position: absolute;top:-30%; z-index: -10; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:40%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:50%;-webkit-animation-delay:1s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:45%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:60%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:76%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:63%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:55%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:75%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}



/* MANUTENÇÃO */


/*////// MEDIA QUERY //////*/

@media (max-width: 1024px){

    /*NAV*/

    .nav-link{
        font-size: 16px;
    }

    .nav__primary{
    right: 0px;
    top: 60px;
    text-align: right;
    background: rgb(25, 145, 156);
    padding: 0px 2rem;
    }


    /*ABOUT*/

    .about__texto{
        font-size: 15px;
    }

    /*CARDS*/

    #servicos hr{
        margin-left: 17px;
    }

    #servicos h2{
        padding-left: 17px;
    }

    .card-title {
        font-size: 26px;
        padding: 10px 0 0 10px;
    }

    .btn-outline-info {
        font-size: 14px;
    }


    /*CONTATO*/

    .contato__btn{
        font-size: 20px;
    }


    /*FOOTER*/

    .footer__email{
        font-size: 20px;
    }

    .footer__p{
        font-size: 18px;
        padding: 0;
    }

    .footer__num{
        font-size: 18px;
    }

    hr {
        margin-left: 369px;
    }

}


@media (max-width: 768px){


    .nav__primary{
        position: absolute;
    }

    /*ABOUT*/

    .about__texto{
        font-size: 15px;
    }

    .about{
    margin-top: 50px;
    }

    /*CARDS*/

    #servicos hr{
        margin-left: 24px;
    }

    #servicos h2{
        padding-left: 24px;
    }

    .card-title {
        font-size: 26px;
        padding: 10px 0 0 10px;
    }

    .btn-outline-info {
        font-size: 18px;
    }

    #servicos .row{
        margin: 0 150px;
    }

    .col__snow{
        display: none;
    }

    /*CONTATO*/

    .contato__input{
    width: 470px;
    }

    .contato__btn{
        font-size: 18px;
    }


    /*FOOTER*/

    .footer__contato{
        padding: 0 100px;
    }

    .footer__contato>.footer__p{
        justify-content: space-between;
    }

    .footer__email{
        font-size: 20px;
    }

    .footer__p{
        display: flex;
        font-size: 18px;
    }

    .footer__p-end{
        flex-direction: column;
        text-align: left;
    }

    .footer__num{
        font-size: 18px;
    }

    hr {
        margin-left: 250px;
    }

    .footer__contato-mobile {
        display: inline;
    }

}

@media (max-width: 421px) {

    .about {
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    }

    .about__imagem {
        padding-top: 30px;
   
    }

    .cards {
        padding-top: 30px;

    }

    .card-body {
        margin-bottom: 10px;
        min-width: 400px;
    }
    
    .navbar__title{
        font-size: 22px;
    }

    .hamb {
        position: absolute;
        background-color: #23919B;
        top: 67px;
        padding: 0 20px;
        width: 170px;
        right: 13px;
    } 
    
    .hamb a {
        color: white;
    }
    
    .row__banner{
        margin-top: 100px;
    }
    
    .col__snow{
        display: none;
    }

    .text__banner{
        font-size: 35px;
    }

    .text__banner-instalacao,
    .text__banner-manutencao{
        width: 400px;
        font-size: 35px;
    }

    .contato h3 {
        font-size: 18px;
    }
    .contato__mobile{
        text-align: center;
    }
    
    h2{
        font-size: 1.8rem;
    }

    .contato__input {
        width: 375px;
        height: 40px;
        padding-top: 4px;
        margin-bottom: 15px;
    }
    
    .contato__btn{
        margin-left: 8rem;
    }

    .footer__contato{
        padding: 0 20px;
    }
    
    .footer__mobile{
        text-align: center;
    }

    .footer__p-end{
        flex-direction: column;
        text-align: left;
    }

    .hr__footer {
        margin-left: 99px;
    }

    .footer__contato-mobile {
        display: inline;
    }
}

   
